> # Evaluate
> #### *Notebook that can be used to evaluate data outside of the dashboard*

### Import Libraries

In [1]:
import pickle
import pandas as pd
import numpy as np

### Load Model

In [2]:
with open("../model.pkl", "rb") as file:
    pickle_model = pickle.load(file)

### Load Tweets & View Header

In [3]:
tweets = pd.read_csv("../data/shopDisney.csv", engine="python")

In [4]:
tweets["datetime"] = pd.to_datetime(tweets["datetime"])
tweets["date"] = tweets["datetime"].dt.date
tweets = tweets.drop(["Unnamed: 0", "datetime"], axis=1)
tweets = tweets.sort_values("date")

In [5]:
tweets.head()

,text,user,location,date
549,"I really want new Disney Pins, but I'm so scar...",ThisIsJordanKay,"Grand Rapids, MI",2020-06-07
528,"Celebrate the 65th Anniversary of ""Lady &amp; ...",disney_dooney,NaN,2020-06-07
527,That's no moon! That a Pewter Container Death ...,sfsignal,"Houston, TX",2020-06-07
526,@shopDisney my order arrived with missing part...,Ancefan87Tr,Chicago,2020-06-07
525,@DLPHelp @vanitynightmare @DisneyParis_EN @Dis...,LouiseS67992560,Enfield,2020-06-07

### Make Predictions from Model

In [6]:
tweets["sentiment"] = pickle_model.predict(tweets.text)

In [7]:
tweets.head()

,text,user,location,date,sentiment
549,"I really want new Disney Pins, but I'm so scar...",ThisIsJordanKay,"Grand Rapids, MI",2020-06-07,0
528,"Celebrate the 65th Anniversary of ""Lady &amp; ...",disney_dooney,NaN,2020-06-07,4
527,That's no moon! That a Pewter Container Death ...,sfsignal,"Houston, TX",2020-06-07,4
526,@shopDisney my order arrived with missing part...,Ancefan87Tr,Chicago,2020-06-07,0
525,@DLPHelp @vanitynightmare @DisneyParis_EN @Dis...,LouiseS67992560,Enfield,2020-06-07,4

In [8]:
for date in tweets.date.unique():
    tweets_filtered = tweets[tweets["date"]==date]
    positive = tweets_filtered["sentiment"][tweets_filtered["sentiment"] == 4].count()/tweets_filtered["sentiment"].count()
    print(date, positive)

2020-06-07 0.5833333333333334
2020-06-08 0.5
2020-06-09 0.6476190476190476
2020-06-10 0.6436781609195402
2020-06-11 0.63
2020-06-12 0.589041095890411