> # Evaluate
> #### *Notebook that can be used to evaluate data outside of the dashboard*

### Import Libraries

In [1]:
import pickle
import pandas as pd
import numpy as np

### Load Model

In [2]:
with open("../model.pkl", "rb") as file:
    pickle_model = pickle.load(file)

### Load Tweets & View Header

In [3]:
tweets = pd.read_csv("../data/shopDisney.csv", engine="python")

In [4]:
tweets["datetime"] = pd.to_datetime(tweets["datetime"])
tweets["date"] = tweets["datetime"].dt.date
tweets = tweets.drop(["Unnamed: 0", "datetime"], axis=1)
tweets = tweets.sort_values("date")

In [5]:
tweets.head()

,text,user,location,date
543,@shopDisney I've had my posted charges reduced...,DisneyEvrywhere,United Kingdom,2020-06-04
539,Check out the new kitchen range by BRUNO from ...,TDRTweets,United Kingdom,2020-06-04
542,@TiAnA_RuBy_AvI We are so sorry for your incon...,shopDisney,Second star to the right,2020-06-04
541,@josieberesnyak We are so sorry for your disap...,shopDisney,Second star to the right,2020-06-04
540,"@Ilovecanada Hi, Chelsea. We replied to your D...",shopDisney,Second star to the right,2020-06-04

### Make Predictions from Model

In [6]:
tweets["sentiment"] = pickle_model.predict(tweets.text)

In [7]:
tweets.head()

,text,user,location,date,sentiment
543,@shopDisney I've had my posted charges reduced...,DisneyEvrywhere,United Kingdom,2020-06-04,0
539,Check out the new kitchen range by BRUNO from ...,TDRTweets,United Kingdom,2020-06-04,4
542,@TiAnA_RuBy_AvI We are so sorry for your incon...,shopDisney,Second star to the right,2020-06-04,0
541,@josieberesnyak We are so sorry for your disap...,shopDisney,Second star to the right,2020-06-04,0
540,"@Ilovecanada Hi, Chelsea. We replied to your D...",shopDisney,Second star to the right,2020-06-04,4

In [8]:
for date in tweets.date.unique():
    tweets_filtered = tweets[tweets["date"]==date]
    positive = tweets_filtered["sentiment"][tweets_filtered["sentiment"] == 4].count()/tweets_filtered["sentiment"].count()
    print(date, positive, 1-positive)

2020-06-04 0.4 0.6
2020-06-05 0.5333333333333333 0.4666666666666667
2020-06-06 0.651685393258427 0.348314606741573
2020-06-07 0.7222222222222222 0.2777777777777778
2020-06-08 0.5657894736842105 0.4342105263157895
2020-06-09 0.6320754716981132 0.3679245283018868
2020-06-10 0.6551724137931034 0.3448275862068966
2020-06-11 0.66 0.33999999999999997